/* Reset */
@import "base/utils/reset";
// Vars
@import "base/utils/_vars";
/* Scrollbar */
@import "base/utils/scrollbar";
/* Header */
@import "base/header";
/* Nav */
@import "base/nav";
/* Nosotros */
@import "base/nosotros";
/* Servicios */
@import "base/servicios";
/* Clientes */
@import "base/clientes";
/* Portfolio */
@import "base/portfolio";
/* Contacto */
@import "base/contacto";
/* Footer */
@import "base/footer";

/* Base */
html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-principal;
}

h1 {
    font-size: $text-h1;
    color: $color-secundario;
    letter-spacing: $spacing-small;
    margin-bottom: $margin-small;
    text-transform: uppercase;
    grid-area: titulo;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
}

h2 {
    font-size: $text-h2;
    color: $color-principal;
    letter-spacing: $spacing-small;
    margin-bottom: $margin-small;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-size: $text-h3;
    color: $color-principal;
    text-transform: uppercase;
}

p {
    font-family: $font-p;
    font-size: $text-p;
    color: $color-alternativo;
}

li {
    list-style: none;
}

a {
    color: $color-alternativo;
    text-decoration: none;
    :hover {
        color: $color-principal;
    }
}

.titulo {
    padding: $spacing-extra $spacing-large 0;
    text-align: center;
}

.titulo__borde {
    background: none repeat scroll 0 0 $color-alternativo;
    height: $spacing-small;
    width: $spacing-full;
    margin-bottom: $margin-large;
    display: block;
    margin: 0 auto;
}

.subtitulo {
    margin: $margin-normal 0;
    font-size: $text-h3;
}

.p-0 {
    padding-top: $spacing-none;
}

.contenedor {
    padding: $margin-large $margin-normal;
    max-width: 1180px;
    margin: 0 auto;
}

.color__oscuro {
    background: rgb(236,236,236);
    background: linear-gradient(179deg, rgba(236,236,236,0.311659698058911) 0%, rgba(232,232,255,1) 50%);
}

.color__claro {
    background: rgb(236,236,236);
    background: linear-gradient(359deg, rgba(236,236,236,0.311659698058911) 0%, rgba(232,232,255,1) 50%);
}

// Media Querys
@import "base/mediaquery"