.color__claro {
  background: linear-gradient(179deg, rgba(236, 236, 236, 0.3116596981) 0%, rgb(232, 232, 255) 50%);
}

.color__oscuro {
  background: linear-gradient(359deg, rgba(236, 236, 236, 0.3116596981) 0%, rgb(232, 232, 255) 50%);
}

.cliente1 {
  background-image: url("./images/cliente1.jpg");
}

.cliente2 {
  background-image: url("./images/cliente2.jpg");
}

.cliente3 {
  background-image: url("./images/cliente3.jpg");
}

.cliente4 {
  background-image: url("./images/cliente4.jpg");
}

.cliente5 {
  background-image: url("./images/cliente5.jpg");
}

.cliente6 {
  background-image: url("./images/cliente6.jpg");
}

.cliente7 {
  background-image: url("./images/cliente7.jpg");
}

.cliente8 {
  background-image: url("./images/cliente8.jpg");
}

.portfolio1 {
  background-image: url("./images/portfolio1.jpg");
}

.portfolio2 {
  background-image: url("./images/portfolio2.jpg");
}

.portfolio3 {
  background-image: url("./images/portfolio3.jpg");
}

.portfolio4 {
  background-image: url("./images/portfolio4.jpg");
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  background: #a9a9a9;
}
::-webkit-scrollbar-thumb:hover {
  background: #222;
}

/* Globals */
*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Oswald", sans-serif;
}

h1 {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: flex-end;
  margin: 0 0 1rem 0;
  padding: 0;
  font-size: 4em;
  color: #ffffff;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  grid-area: titulo;
}

h2 {
  font-size: 2.4em;
  color: #222;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  font-size: 1.2em;
  color: #222;
  text-transform: uppercase;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  color: #a9a9a9;
}

li {
  list-style: none;
}

a {
  color: #a9a9a9;
  text-decoration: none;
}
a :hover {
  color: #222;
}

.titulo {
  margin: auto;
  padding: 3rem 1rem 0;
  text-align: center;
}
.titulo__borde {
  background: none repeat scroll 0 0 #a9a9a9;
  height: 0.2rem;
  width: 7rem;
  margin-bottom: 3rem;
  display: block;
  margin: auto;
  padding: 0;
}

.subtitulo {
  margin: 1.5rem;
  padding: 0;
  font-size: 1.2em;
}

.p-0 {
  margin: 0;
  padding: 0;
}

.contenedor {
  max-width: 1180px;
  margin: auto;
  padding: 3rem 1.5rem;
}

/* Header */
#home {
  width: auto;
  height: 100vh;
  display: grid;
  grid-template-areas: " titulo" " vinetas" " button";
  grid-template-rows: 1fr auto 1fr;
  row-gap: 20px;
  background-image: url(../../images/pattern.png);
}

.vinetas {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: unset;
  margin: 0 0 1rem;
  padding: 0 1rem;
  grid-area: vinetas;
}

.button {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: unset;
  align-items: flex-start;
}

a.button {
  padding: 0.5rem 0.5rem;
  border-radius: 3px;
  text-transform: uppercase;
  transition: all 1s;
  letter-spacing: 2px;
}
a.button:hover {
  color: black;
  background-color: white;
}

.bullet {
  margin: 0 1rem;
  color: #ffffff;
  opacity: 0.9;
}

.borde--blanco {
  background-color: none;
  border: 2px solid #ffffff;
  color: #ffffff;
}

/* Nav */
.navegacion__nav {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: unset;
  background: #ffffff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}
.navegacion__nav__menu {
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
}
.navegacion__nav--primero {
  margin-left: 25px;
}
.navegacion__nav--izquierda {
  padding-left: 50px;
}
.navegacion__nav--derecha {
  padding-right: 50px;
}
.navegacion__nav nav {
  display: inherit;
}

#logo {
  width: 90px;
  height: 90px;
  position: absolute;
}
#logo__mobile {
  width: 75px;
  height: 75px;
  position: relative;
  z-index: 10;
}

.div__logo {
  width: 90px;
  height: auto;
  margin: 0;
  padding: 0 50px;
}

.hamburger {
  position: absolute;
  left: 20px;
  top: 20px;
}

.dropdown__content {
  display: none;
}
.dropdown__menu {
  font-size: 1.2em;
  border-color: #a9a9a9;
  padding: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: dashed;
  border-width: 1px;
}
.dropdown__menu--ultimo {
  border-bottom: none;
}
.dropdown__menu a {
  color: #222;
}

.show__menu {
  font-size: 1.2em;
  display: block;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 240px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Nosotros */
.equipo {
  text-align: center;
}
.equipo li {
  margin: 0 3rem;
  display: inline-block;
  position: relative;
}
.equipo__ambos:hover .equipo__image {
  opacity: 0.1;
}
.equipo__ambos:hover .equipo__redes__texto {
  opacity: 0;
}
.equipo__ambos:hover .equipo__redes__texto--p {
  opacity: 0;
}
.equipo__ambos:hover .equipo__redes {
  opacity: 1;
}
.equipo__image {
  width: 100%;
  height: auto;
  opacity: 1;
  display: block;
  transition: 0.6s ease;
}
.equipo__redes {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0%;
  left: 0%;
  text-align: center;
}
.equipo__redes__hidden {
  color: #222;
  position: relative;
  top: 30%;
}
.equipo__redes__texto {
  color: #222;
  text-transform: uppercase;
}

#nosotros {
  padding-top: 3rem;
}

/* Servicios */
.contenedor__servicios {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: unset;
  margin: 0;
  padding: 0 5rem;
}
.contenedor__servicios__izquierda {
  margin-right: 1rem;
  width: 48%;
}
.contenedor__servicios__derecha {
  margin-left: 1rem;
  width: 48%;
}

.fa-stack {
  font-size: 2em;
  color: #a9a9a9;
  transition: all 1s;
  margin-bottom: 120px;
}
.fa-stack:hover {
  color: #222;
}
.fa-right {
  float: right;
}
.fa-left {
  float: left;
}

.service__item {
  float: left;
  margin: 30px 0;
  width: 100%;
}
.service__item h3 {
  margin: 10px 0;
}
.service__item--text-left {
  text-align: left;
}
.service__item p {
  padding-left: 100px;
}
.service__item .fa-stack {
  margin-right: 20px;
}
.service__item--text-right {
  text-align: right;
}
.service__item p {
  padding-right: 100px;
}
.service__item .fa-stack {
  margin-left: 20px;
}

/* Clientes */
.clientes {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: unset;
  max-width: 842.8571428571px;
  margin: auto;
  padding: 0;
  gap: 28px;
}
.clientes div {
  filter: grayscale(100%);
  width: 150px;
  height: 150px;
  transition: all 1s;
}

picture {
  overflow: hidden;
}
picture :hover div {
  filter: grayscale(0);
  transform: scale(1.1);
}
picture span {
  position: absolute;
}

/* Portfolio */
.gallery a {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: flex-end;
}
.gallery__text {
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 2.4em;
  padding-bottom: 0.5rem;
  font-weight: 900;
  z-index: 1;
  opacity: 0.6;
  transition: all 1s;
}
.gallery__portfolio {
  width: 440px;
  height: 200px;
  opacity: 0.6;
  transition: all 1s;
  background: center;
}
.gallery__portfolio:hover {
  transform: scale(1.1);
  opacity: 1;
}
.gallery:hover .gallery__text {
  opacity: 1;
}

.portfolio {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: unset;
  gap: 28px;
}
.portfolio__titulo {
  padding-bottom: 1rem;
  text-align: center;
}
.portfolio__filter {
  display: inline-block;
  padding-right: 1rem;
}
.portfolio__filter--activo {
  font-weight: bold;
  text-decoration: underline;
}

/* Contacto */
input[type=text], input[type=email], textarea {
  font-family: "Oswald", sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
  border-radius: 3px;
  border: 0;
  margin: 0 0 20px 0;
  padding: 15px 3% 15px 3%;
  color: #222;
  width: 94%;
  background: #ffffff;
}

input[type=reset], input[type=submit] {
  font-family: "Oswald", sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
  border-radius: 3px;
  border: 0;
  margin: 20px;
  padding: 0.5rem 1rem;
  color: #ffffff;
  background: #222;
  line-height: 1em;
  text-align: center;
}
input[type=reset]:hover, input[type=submit]:hover {
  background: #ffffff;
  color: #222;
  transition: all 1s;
}

.formulario__botones {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: unset;
}
.formulario__boton {
  margin: 0 3rem;
  padding: 0;
}

#formulario input:focus, #formulario textarea:focus {
  background-color: #e8f0fe;
  transition: all 2s;
}

/* Footer */
.footer {
  background-color: #ffffff;
  color: #222;
  text-align: center;
  font-weight: bold;
  padding: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
}
.footer__contenedor {
  background-color: #e8e8ff;
  box-shadow: rgb(173, 173, 173) 0px 10px 100px;
  padding: 3rem 0;
  min-height: 3rem;
}

ul.social__icons {
  text-align: center;
  float: left;
  width: 100%;
}
ul.social__icons li {
  margin: 0.5rem;
  display: inline-block;
}
ul.social__icons li a img {
  width: 35px;
  height: 35px;
}

.menu__top {
  width: 40px;
  height: 50px;
  margin: -65px 0 0 -20px;
  padding: auto;
  background-color: #222;
  border-radius: 3px;
  left: 50%;
  position: absolute;
}

@-webkit-keyframes subeflecha {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -10px;
  }
}

@keyframes subeflecha {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -10px;
  }
}
#menu__top__inside {
  width: 18px;
  height: 22px;
  background-image: url(../../images/top_bg.png);
  background-size: 18px 11px;
  background-position: 0 0;
  left: 11px;
  position: absolute;
  top: 14px;
  transition: background-position 0.3s linear 0s;
}
#menu__top__inside:hover {
  -webkit-animation: subeflecha 0.3s linear infinite;
          animation: subeflecha 0.3s linear infinite;
}

.img__facebook, .img__instagram {
  opacity: 0.6;
  transition: all 1s;
}
.img__facebook:hover, .img__instagram:hover {
  opacity: 1;
}

/* Media Querys */
@media only screen and (max-width: 1024px) {
  #menu_desktop {
    display: none;
  }
  .navegacion__nav {
    width: auto;
    height: 60px;
  }
  .one__half {
    width: 100%;
    height: auto;
    margin-left: 0%;
  }
  .fa-right {
    float: left;
  }
  .service__item--text-right {
    text-align: left;
  }
  .service__item .fa-stack {
    margin-right: 20px;
    margin-left: 0px;
  }
  .service__item p {
    padding-right: 0px;
    padding-left: 100px;
  }
  .service__item--text-left {
    padding-left: 0px;
  }
  .contenedor__servicios {
    padding: 0;
  }
  .contenedor__servicios__izquierda {
    margin-bottom: 0px;
  }
  .fa-stack {
    height: 0;
  }
}
@media only screen and (min-width: 1025px) {
  #menu_mobile {
    display: none;
  }
  .navegacion__nav {
    line-height: 3rem;
  }
}/*# sourceMappingURL=stylesnew.css.map */