* {
    margin: 0;
    padding: 0;
}

#indexFondo {
    background-image: url(./images/pattern.png)
}

#footerInicio {
    color: white;
    font-weight: bold;
}

#divInicio {
    min-height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#linkInicio {
    color: white;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: #EDEDED;
}

footer {
    text-align: center;
    font-weight: bold;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 36px;
    letter-spacing: 3px;
    color: #222;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.borde {
    background: none repeat scroll 0 0 #999;
    display: block;
    height: 2px;
    margin: 0 auto;
    width: 100px;
    margin-bottom: 40px;
}

p {
    font-family: 'Open Sans', sans-serif;
}

span {
    font-family: 'Open Sans', sans-serif;
}

.logos {
    align-self: center;
}

.titulo {
    text-align: center;
    margin: 0 auto;
    /* margin-bottom: 100px; */
}

.portfolioTitle {
    padding-bottom: 20px;
    text-align: center;
}

.portfolioFilter {
    display: inline-block;
    padding-right: 15px;
    
}

.tablaPortfolio {
    margin-left: auto;
    margin-right: auto;
}

td {
    padding-right: 10px;
    padding-bottom: 10px;
}

.tablaClientes {
    margin-left: auto;
    margin-right: auto;
}

.hover figure img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover figure:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.equipo {
    text-align: center;
}

.equipo li {
    display: inline-block;
    margin: 0 50px;
    height: 330px;
    overflow: hidden;
    border-radius: 3px;
    position: relative;
    width: 260px;
}

.contenedor {
    width: 1180px;
    margin: 0 auto;
    padding: 100px 20px;
}

.formularioContacto {
    text-align: center;
}