//Medidas
$ancho-total: 1180px;

// Colors
$color-principal: #222;
$color-secundario: #ffffff;
$color-alternativo: #a9a9a9;

// Font Family
$font-principal: 'Oswald', sans-serif;
$font-p: 'Open Sans', sans-serif;

// Font Sizes
$text-h1: 4em;
$text-h2: 2.4em;
$textfa: 2em;
$text-h3: 1.2em;
$text-p: 1em;

// Spacings
$spacing-none: 0;
$spacing-small: 0.2rem;
$spacing-normal: 0.5rem;
$spacing-large: 1rem;
$spacing-extra: 3rem;
$spacing-full: 7rem;

// Margins
$margin-small: 1rem;
$margin-normal: 1.5rem;
$margin-large: 3rem;
$margin-extra: 5rem;

//Mapeo

$colores: (
    claro: linear-gradient(179deg, rgba(236,236,236,0.311659698058911) 0%, rgba(232,232,255,1) 50%),
    oscuro: linear-gradient(359deg, rgba(236,236,236,0.311659698058911) 0%, rgba(232,232,255,1) 50%)
);

@each $nom-color, $bg-color in $colores {
    .color__#{$nom-color} {
        background: $bg-color;
    }
}

$clientes: (cliente1, cliente2, cliente3, cliente4, cliente5, cliente6, cliente7, cliente8);

@each $cliente in $clientes {
    .#{$cliente} {
        background-image: url("../../images/#{$cliente}.jpg");
    }
}

$portfolios: (portfolio1, portfolio2, portfolio3, portfolio4);