// Colors
$color-principal: #222;
$color-secundario: #ffffff;
$color-alternativo: #a9a9a9;

// Font Family
$font-principal: 'Oswald', sans-serif;
$font-p: 'Open Sans', sans-serif;

// Font Sizes
$text-h1: 4em;
$text-h2: 2.4em;
$textfa: 2em;
$text-h3: 1.2em;
$text-p: 1em;

// Spacings
$spacing-none: 0;
$spacing-small: 0.2rem;
$spacing-normal: 0.5rem;
$spacing-large: 1rem;
$spacing-extra: 3rem;
$spacing-full: 7rem;

// Margins
$margin-small: 1rem;
$margin-normal: 1.5rem;
$margin-large: 3rem;
$margin-extra: 5rem;