.clientes {
    @include flex (row wrap, center, unset);
    max-width: ($ancho-total)/1.4;
    @include margin-padding (auto,0);
    gap: 28px;
    div {
        filter: grayscale(100%);
        @include medidas (150px, 150px);
        transition: all 1s;
    }
}
picture {
    overflow: hidden;
    :hover div {
        filter: grayscale(0);
        transform: scale(1.1);
    }
    & span {
        position: absolute;
    }
}