.clientes {
    @include flex-wrap;
    max-width: ($ancho-total)/1.4;
    @include margin-padding (auto,0);
    gap: 28px;
    img {
        filter: grayscale(100%);
        @include medidas (150px, 150px);
        transition: all 1s;
    }
    picture {
        overflow: hidden;
        :hover img {
            filter: grayscale(0);
            transform: scale(1.1);
        }
    }
}
picture span {
    position: absolute;
}