.clientes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 850px;
    margin: 0 auto;
    gap: 28px;
    img {
        filter: grayscale(100%);
        transition: .3s ease-in-out;
        width: 150px;
        height: 150px;
        transition: all 1s;
    }
    picture {
        overflow: hidden;
        :hover img {
            filter: grayscale(0);
            transform: scale(1.1);
        }
    }
    &__img {
        transition: transform 1s;
    }
}

picture span {
    position: absolute;
}