input[type="text"], input[type="email"], textarea {
    @include inputs;
    @include margin-padding(0 0 20px 0, 15px 3% 15px 3%);
    color: $color-principal;
    width: 94%;
    background: $color-secundario;
}
input[type=reset], input[type=submit] {
    @include inputs;
    @include margin-padding (20px,$spacing-normal $spacing-large);
    color: $color-secundario;
    background: $color-principal;
    line-height: map-get($fuentes , text-p);
    text-align: center;
    &:hover {
        background: $color-secundario;
        color: $color-principal;
        transition: all 1s;
        }
}
.formulario {
    &__botones {
        @include flex (row, space-around, unset);
    }
    &__boton {
        @include margin-padding (0 $spacing-extra, 0);
    }
}
#formulario {
    input:focus, textarea:focus{
        background-color: #e8f0fe;
        transition: all 2s;
    }
}


