.footer {
    background-color: $color-secundario;
    color: $color-principal;
    @include center-bold;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
    &__contenedor {
        background-color: #e8e8ff;
        box-shadow: rgb(173 173 173) 0px 10px 100px;
        padding: $spacing-extra 0;
        min-height: $spacing-extra;
    }
}
ul.social__icons {
    text-align: center;
    float: left;
    width: 100%;
    li {
        margin: $spacing-normal;
        display: inline-block;
        a img {
            @include medidas (35px, 35px);
        }
    }
}
.menu__top {
    @include medidas (40px, 50px);
    @include margin-padding(-65px 0 0 -20px, auto);
    background-color: $color-principal;
    border-radius: 3px;
    left: 50%;
    position: absolute;
}
@keyframes subeflecha{
    0%{background-position:0 0}
    100%{background-position:0 -10px}
}
#menu__top__inside {
    @include medidas (18px, 22px);
    background-image: url(../../images/top_bg.png);
    background-size: 18px 11px;
    background-position: 0 0;
    left: 11px;
    position: absolute;
    top: 14px;
    transition: background-position .3s linear 0s;
    &:hover {
        animation:subeflecha .3s linear infinite
    }
}
.img__facebook, .img__instagram {
    @include hover-opacity;
    &:hover {
        opacity: 1;
    }
}