@media only screen and (max-width: 1024px) {
    #menu_desktop {
        display: none;
    }
    .navegacion__nav {
        @include medidas (auto, 60px);
    }
    .one__half {
        @include medidas (100%, auto);
        margin-left: 0%;
    }
    
    .fa-right {
        float: left;
    }
    .service__item {
        &--text-right {
            text-align: left;
        }
        .fa-stack {
            margin-right: 20px;
            margin-left: 0px;
        }
        p {
            padding-right: 0px;
            padding-left: 100px;
        }
        &--text-left{
            padding-left: 0px;
        }
    }
    .contenedor__servicios {
        padding: 0;
        &__izquierda {
            margin-bottom: 0px;
        }
    }
    .fa-stack {
        height: 0;
    }
}
@media only screen and (min-width: 1025px) {
    #menu_mobile {
        display: none;
    }
    .navegacion__nav {
        line-height: $spacing-extra;
    }
}