.navegacion__nav{
    background: $color-secundario;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 9999;
    &__menu {
        font-size: $text-h3;
        font-weight: bold;
        text-transform: uppercase;
    }
    &--primero {
        margin-left: 25px;
    }
    &--izquierda {
        padding-left: 50px;
    }
    &--derecha {
        padding-right: 50px;
    }
    nav {
        display: inherit;
    }
}
#logo {
    width: 90px;
    height: 90px;
    position: absolute;
    &__mobile {
        width: 75px;
        height: 75px;
        position: relative;
        z-index: 10;
    }
}
.div__logo {
    width: 90px;
    padding-left: 50px;
    padding-right: 50px;
}
.hamburger {
    position: absolute;
    left: 20px;
    top: 20px;
}
.dropdown {
    &__content {
        display: none;
    } 
    &__menu {
        font-size: $text-h3;
        border-color: $color-alternativo;
        padding: $spacing-large;
        text-transform: uppercase;
        border-bottom: dashed;
        border-width: 1px;
        &--ultimo {
            border-bottom: none;
        }
        a {
            color: $color-principal;
        }
    }
}
.show__menu {
    font-size: $text-h3;
    display: block;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}