.navegacion__nav{
    @include flex (row, center, null);
    background: $color-secundario;
    position: sticky;
    top: 0;
    z-index: 10;
    &__menu {
        font-size: map-get($fuentes , text-h3);
        @include bold-upper;
    }
    &--primero {
        margin-left: 25px;
    }
    &--izquierda {
        padding-left: 50px;
    }
    &--derecha {
        padding-right: 50px;
    }
    nav {
        display: inherit;
    }
}
#logo {
    @include medidas (90px, 90px);
    position: absolute;
    &__mobile {
        @include medidas (75px, 75px);
        position: relative;
        z-index: 10;
    }
}
.div__logo {
    @include medidas (90px, auto);
    @include margin-padding (0, 0 50px);
}
.hamburger {
    position: absolute;
    left: 20px;
    top: 20px;
}
.dropdown {
    &__content {
        display: none;
    } 
    &__menu {
        font-size: map-get($fuentes , text-h3);
        border-color: $color-alternativo;
        padding: $spacing-large;
        @include bold-upper;
        border-bottom: dashed;
        border-width: 1px;
        &--ultimo {
            border-bottom: none;
        }
        a {
            color: $color-principal;
        }
    }
}
.show__menu {
    font-size: map-get($fuentes , text-h3);
    display: block;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}