.gallery {
    a {
        @include flex (row, space-around, flex-end);
    }
    &__text {
        @include bold-upper;
        color: $color-secundario;
        font-size: map-get($fuentes , text-h2);
        padding-bottom: $spacing-normal;
        font-weight: 900;
        z-index: 1;
        @include hover-opacity;
    }
    &__portfolio {
        @include medidas (440px, 200px);
        @include hover-opacity;
        background: center;
        &:hover {
            transform: scale(1.1);
            opacity: 1;
        }
    }
    &:hover .gallery__text {
        opacity: 1;
    }
}
.portfolio {
    @include flex (row wrap, center, unset);
    gap: 28px;
    &__titulo {
        padding-bottom: $spacing-large;
        text-align: center;
    }
    &__filter {
        display: inline-block;
        padding-right: $spacing-large;
        &--activo {
            font-weight: bold;
            text-decoration: underline;
        }
    }
}